<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>{{ title }}</h1>
  <div id="for-upload">
      <img id="up" alt="Image" width="600" height="450" src="../assets/image.jpg">
  </div>
  <p>Скачай это изображение: </p>
  <div>
    <button class="upload" (click)="upload()">Уже качаю</button>
  </div>
</div>

